html{
	height: 100%
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color:white;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: white;
	text-decoration: overline;
}
.navbar-light .navbar-nav .active .nav-link {
    color: White;
    font-weight: 900px;
   	text-shadow: 0px 2px 2px #000000;
   	text-decoration: overline;
}
.fixed-top{
	padding-right: 8%;
	padding-left: 8%;
}
.login-form{
  padding-top: 5%
}
.login-avtar{
  width: 50%;
}
.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    padding-bottom: 5%
}
.h3{
  text-shadow: 0px 2px 1px #000000;
}